label {
  color: DimGray;
}

a:visited {
  color: DimGray;
}

.durationMark {
  border: 1px solid black;
  float: left;
  width: 4px;
  height: 4px;
  background-color: black;
  margin: 2px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

table.details {
  border-collapse: collapse;
  border: 1px solid gray;
  /* border-top: none; */
  font-size: 12pt;
  margin-bottom: 20px;
  width: 100%;
}

table.details>tbody>tr>td {
  border-bottom: 1px solid gray;
  padding: 3px;
}

.messageCol {
  width: 100%;
}

.messageCol>span>pre {
  max-height: 40em;
  overflow: scroll;
}

tr.detailsExceptionRow>td>div,
.detailsException {
  font-family: monospace;
  white-space: pre-wrap;
  max-height: 20em;
  overflow: scroll;
}

a.screenshot {
  float: left;
  margin-right: 5px;
}

.pageNavigation {
  color: RGB(0, 154, 250)
}

.exceptionCol {
  font-size: 85%;
}

.screenshot {
	margin-right: 8px;
	font-size: 100%;
}
